
<!--profesiones.html-->
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Información de la profesión</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
</head>

<body>
    <fieldset>
        <legend>Información de profesiones</legend>
        <div class="form-group row">
            {% if profesion %}
            <p><strong>Nombre:</strong> {{ profesion.nombre }}</p>
            <p><strong>Area:</strong> {{ profesion.area }}</p>
            {% if (profesion.nombre == "Ingeniero") %}
            <p><strong>Sector:</strong> {{ profesion.especialidad }}</p>
            {% elif (profesion.nombre== "Medico") %}
            <p><strong>Especialidad:</strong> {{ profesion.especialidad }}</p>
            {% elif (profesion.nombre == "Abogado") %}
            <p><strong>Rama:</strong> {{ profesion.especialidad }}</p>
            {% endif %}
            <p><strong>Descripcion:</strong> {{ profesion.descripcion() }}</p>
            {% else %}
            <p>La profesión seleccionada no fue encontrada en la lista.</p>
            {% endif %}
            <form method="get" action="/">
                <button type="submit" class="btn btn-primary">Mas profesiones</button>
            </form>
        </div>
    </fieldset>
</body>
</html>